<!DOCTYPE html>
<html>
	<%- include('imports/header'); %>

	<body>
		<%- include('imports/navbar'); %>

		<main>
			<div class="view-main">
				<div class="tags-container">
					<h3>Tags</h3>

					<div class="tags">
						<% artists.forEach(function(artist) { %>
							<a class="tag-item" href='/images/search?tags=artist:<%- artist %>'><i class="fa fa-paint-brush" aria-hidden="true"></i> <%- artist %> </a>
						<%	}) %>

						<% tags.forEach(function(tag) { %>
							<a class="tag-item" href='/images/search?tags=<%- tag %>'><i class="fa fa-tag" aria-hidden="true"></i> <%- tag %> </a>
						<%	}) %>
					</div>



					<div class="uploader-info">
						<p><span>Uploader: </span><a href='/images/search?tags=uploader:<%- uploader %>'> <%- uploader %> </a></p>
						<p><span>Uploaded: </span><%- uploaded %></p>
						<p><span>Rating: </span><a href='/images/search?tags=rating:<%- rating[0] %>'> <%- rating[0] %> </a></p>
						<p><span>Source: </span><a href='<%- src %>'> <%- src %> </a></p>
					</div>
				</div>

				<div class="image-container">
					<img class="view-image" src='<%- source %>'>
				</div>
			</div>
		</main>
	</body>
</html>
